## This is our Project on Wine Quality Prediction using classification & regression techniques in ML.

In [59]:
# Importing the libaries

import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

#### We will use both white and red wine datasets for our methods.

In [60]:
# Importing the dataset for white wine

df_white_wine= pd.read_csv('/Users/shinjinigupta/Desktop/SJSU/SPRING_2021/DATA_245/PROJECT/Datasets/winequality-white.csv')
df_white_wine

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

In [61]:
# Importing the dataset for red wine

df_red_wine= pd.read_csv('/Users/shinjinigupta/Desktop/SJSU/SPRING_2021/DATA_245/PROJECT/Datasets/winequality-red.csv')
df_red_wine

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

## Data Preprocessing

### We will start with white wine dataset and do the same pre processing for the red wine dataset

#### For white wine dataset:

In [62]:
# Checking for any missing Values

print(df_white_wine.isna().sum())

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

#### There's no missing values :)

In [63]:
# Checking for categorical values

df_white_wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         4898 non-null   float64
 1   volatile acidity      4898 non-null   float64
 2   citric acid           4898 non-null   float64
 3   residual sugar        4898 non-null   float64
 4   chlorides             4898 non-null   float64
 5   free sulfur dioxide   4898 non-null   float64
 6   total sulfur dioxide  4898 non-null   float64
 7   density               4898 non-null   float64
 8   pH                    4898 non-null   float64
 9   sulphates             4898 non-null   float64
 10  alcohol               4898 non-null   float64
 11  quality               4898 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 459.3 KB

#### The datatypes of all the feature columns are float and the target column is int, hence no categorical values. :)

In [64]:
# Checking for duplicate rows in the dataset

df_white_wine=df_white_wine.drop_duplicates()
df_white_wine

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
6,6.2,0.32,0.16,7.0,0.045,30.0,136.0,0.99490,3.18,0.47,9.6,6
...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

In [65]:
# Renaming the columns names by adding "_"  in between column names

df_white_wine.columns = df_white_wine.columns.str.replace(" ", "_")
df_white_wine

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
6,6.2,0.32,0.16,7.0,0.045,30.0,136.0,0.99490,3.18,0.47,9.6,6
...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

#### We are doing a binomial classification for all the classification methods in our project. Hence we will add a column name "Quality_rank" in a copy of our dataset to perform the classification methods on it.

In [66]:
# Creating a copy of the dataset df_white_wine

df_white_wine_classify = df_white_wine.copy()
df_white_wine_classify

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
6,6.2,0.32,0.16,7.0,0.045,30.0,136.0,0.99490,3.18,0.47,9.6,6
...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

In [67]:
# Creating a quality_rank column for binomial classification of target variable(quality)

df_white_wine_classify['quality_rank'] = [1 if x >= 7 else 0 for x in df_white_wine_classify['quality']]
df_white_wine_classify

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,quality_rank
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6,0
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6,0
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6,0
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6,0
6,6.2,0.32,0.16,7.0,0.045,30.0,136.0,0.99490,3.18,0.47,9.6,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,0
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,0
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,0
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,1
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,0

In [68]:
# Separating the feature variables and the target variable

X_white_classify = df_white_wine_classify.drop(['quality','quality_rank'], axis = 1)
y_white_classify = df_white_wine_classify['quality_rank']

In [69]:
# To see good and bad wine counts

df_white_wine_classify['quality_rank'].value_counts()

0    3136
1     825
Name: quality_rank, dtype: int64

In [70]:
# Normalizing feature variables to bring them to same scale

X_features_white_classify = X_white_classify
X_white_classify = StandardScaler().fit_transform(X_white_classify)

#### For the regression methods, we would use the the datasets as is and predict its quality.

In [71]:
# Separating the feature variables and the target variable

X_white_reg = df_white_wine.drop(['quality'], axis = 1)
y_white_reg = df_white_wine['quality']

In [72]:
# To see good and bad wine counts

df_white_wine['quality'].value_counts()

6    1788
5    1175
7     689
4     153
8     131
3      20
9       5
Name: quality, dtype: int64

In [73]:
# Normalizing feature variables to bring them to same scale

X_features_white_reg = X_white_reg
X_white_reg = StandardScaler().fit_transform(X_white_reg)

#### For red wine dataset:

In [74]:
# Checking for any missing Values

print(df_red_wine.isna().sum())

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

#### There's no missing values :)

In [75]:
# Checking for categorical values

df_red_wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

#### The datatypes of all the feature columns are float and the target column is int, hence no categorical values. :)

In [76]:
# Checking for duplicate rows in the dataset

df_red_wine=df_red_wine.drop_duplicates()
df_red_wine

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
5,7.4,0.660,0.00,1.8,0.075,13.0,40.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1593,6.8,0.620,0.08,1.9,0.068,28.0,38.0,0.99651,3.42,0.82,9.5,6
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [77]:
# Renaming the columns names by adding "_"  in between column names

df_red_wine.columns = df_red_wine.columns.str.replace(" ", "_")
df_red_wine

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
5,7.4,0.660,0.00,1.8,0.075,13.0,40.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1593,6.8,0.620,0.08,1.9,0.068,28.0,38.0,0.99651,3.42,0.82,9.5,6
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

#### We are doing a binomial classification for all the methods in our project. Hence we will add a column name "Quality_rank" in a copy of our dataset to perform the classification methods on it.

In [78]:
# Creating a copy of the dataset df_white_wine

df_red_wine_classify = df_red_wine.copy()
df_red_wine_classify

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
5,7.4,0.660,0.00,1.8,0.075,13.0,40.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1593,6.8,0.620,0.08,1.9,0.068,28.0,38.0,0.99651,3.42,0.82,9.5,6
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [79]:
# Creating a quality_rank column for binomial classification of target variable(quality)

df_red_wine_classify['quality_rank'] = [1 if x >= 7 else 0 for x in df_red_wine_classify['quality']]
df_red_wine_classify

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,quality_rank
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,0
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,0
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,0
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,0
5,7.4,0.660,0.00,1.8,0.075,13.0,40.0,0.99780,3.51,0.56,9.4,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1593,6.8,0.620,0.08,1.9,0.068,28.0,38.0,0.99651,3.42,0.82,9.5,6,0
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,0
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6,0
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,0
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6,0

In [80]:
# Separating the feature variables and the target variable

X_red_classify = df_red_wine_classify.drop(['quality','quality_rank'], axis = 1)
y_red_classify = df_red_wine_classify['quality_rank']

In [81]:
# To see good and bad wine counts

df_red_wine_classify['quality_rank'].value_counts()

0    1175
1     184
Name: quality_rank, dtype: int64

In [82]:
# Normalizing feature variables to bring them to same scale

X_features_red_classify = X_red_classify
X_red_classify = StandardScaler().fit_transform(X_red_classify)

#### For the regression methods, we would use the the datasets as is and predict its quality.

In [83]:
# Separating the feature variables and the target variable

X_red_reg = df_red_wine.drop(['quality'], axis = 1)
y_red_reg = df_red_wine['quality']

In [84]:
# To see good and bad wine counts

df_red_wine['quality'].value_counts()

5    577
6    535
7    167
4     53
8     17
3     10
Name: quality, dtype: int64

In [85]:
# Normalizing feature variables to bring them to same scale

X_features_red_reg = X_red_reg
X_red_reg = StandardScaler().fit_transform(X_red_reg)

## Data Modelling

### First data modelling will be done on white wine dataset and the same will be done for red wine dataset

#### For White Wine dataset : Classification using Random Forest Classifier

In [86]:
# Importing libraries for data modelling

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [87]:
# Dividing the data into training and test data in the ration of 7:3

X_train_white_classify, X_test_white_classify, y_train_white_classify, y_test_white_classify = train_test_split(X_white_classify, y_white_classify, test_size=.30, random_state=10)

In [88]:
# Fitting the Random Forest Classification model

white_wine_rf_classify = RandomForestClassifier(n_estimators=100,random_state = 0)
white_wine_rf_classify.fit(X_train_white_classify, y_train_white_classify)

RandomForestClassifier(random_state=0)

In [89]:
# Model prediction on test data

y_pred_white_classify = white_wine_rf_classify.predict(X_test_white_classify)

In [90]:
# Calculating the accuracy of the prediction

white_wine_classify_accuracy=accuracy_score(y_test_white_classify,y_pred_white_classify)*100
white_wine_classify_accuracy

84.27249789739277

In [91]:
# Forming the classification report

print(classification_report(y_test_white_classify, y_pred_white_classify))

              precision    recall  f1-score   support

           0       0.86      0.96      0.91       942
           1       0.74      0.38      0.50       247

    accuracy                           0.84      1189
   macro avg       0.80      0.67      0.70      1189
weighted avg       0.83      0.84      0.82      1189

#### For White Wine dataset : Regression using Random Forest Regressor

In [92]:
# Importing libraries for regression

from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics

In [93]:
# Dividing the data into training and test data in the ration of 7:3

X_train_white_reg, X_test_white_reg, y_train_white_reg, y_test_white_reg = train_test_split(X_white_reg, y_white_reg, test_size=.30, random_state=10)

In [94]:
# Fitting the Random Forest Regresion model

white_wine_rf_reg = RandomForestRegressor(n_estimators=100,random_state = 0)
white_wine_rf_reg.fit(X_train_white_reg, y_train_white_reg)

RandomForestRegressor(random_state=0)

In [95]:
# Model prediction on test data

y_pred_white_reg = white_wine_rf_reg.predict(X_test_white_reg)

In [96]:
# Evaluating the accuracy of the model

print('Mean Absolute Error:', metrics.mean_absolute_error(y_test_white_reg,y_pred_white_reg))
print('Mean Squared Error:', metrics.mean_squared_error(y_test_white_reg,y_pred_white_reg))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test_white_reg,y_pred_white_reg)))

Mean Absolute Error: 0.5375862068965518
Mean Squared Error: 0.4898638351555929
Root Mean Squared Error: 0.6999027326390381

#### For Red Wine dataset : Classification using Random Forest Classifier

In [97]:
# Importing libraries for data modelling

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [98]:
# Dividing the data into training and test data in the ration of 7:3

X_train_red_classify, X_test_red_classify, y_train_red_classify, y_test_red_classify = train_test_split(X_red_classify, y_red_classify, test_size=.30, random_state=10)

In [99]:
# Fitting the Random Forest Classification model

red_wine_rf_classify = RandomForestClassifier(n_estimators=100,random_state = 0)
red_wine_rf_classify.fit(X_train_red_classify, y_train_red_classify)

RandomForestClassifier(random_state=0)

In [100]:
# Model prediction on test data

y_pred_red_classify = red_wine_rf_classify.predict(X_test_red_classify)

In [101]:
# Calculating the accuracy of the prediction

red_wine_classify_accuracy=accuracy_score(y_test_red_classify,y_pred_red_classify)*100
red_wine_classify_accuracy

89.2156862745098

In [102]:
# Forming the classification report

print(classification_report(y_test_red_classify, y_pred_red_classify))

              precision    recall  f1-score   support

           0       0.91      0.97      0.94       353
           1       0.68      0.38      0.49        55

    accuracy                           0.89       408
   macro avg       0.79      0.68      0.71       408
weighted avg       0.88      0.89      0.88       408

#### For Red Wine dataset : Regression using Random Forest Regressor

In [103]:
# Importing libraries for regression

from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics

In [104]:
# Dividing the data into training and test data in the ration of 7:3

X_train_red_reg, X_test_red_reg, y_train_red_reg, y_test_red_reg = train_test_split(X_red_reg, y_red_reg, test_size=.30, random_state=10)

In [105]:
# Fitting the Random Forest Regresion model

red_wine_rf_reg = RandomForestRegressor(n_estimators=100,random_state = 0)
red_wine_rf_reg.fit(X_train_red_reg, y_train_red_reg)

RandomForestRegressor(random_state=0)

In [106]:
# Model prediction on test data

y_pred_red_reg = red_wine_rf_reg.predict(X_test_red_reg)

In [107]:
# Evaluating the accuracy of the model

print('Mean Absolute Error:', metrics.mean_absolute_error(y_test_red_reg,y_pred_red_reg))
print('Mean Squared Error:', metrics.mean_squared_error(y_test_red_reg,y_pred_red_reg))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test_red_reg,y_pred_red_reg)))

Mean Absolute Error: 0.5171813725490196
Mean Squared Error: 0.4588786764705883
Root Mean Squared Error: 0.6774058432509925